.news_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  align-items: start;
}

.news {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.news > h2,
.new_from_search > h2 {
  max-height: 100px;
}

h2 {
  color: var(--secondary);
  font-weight: bold;
  text-shadow: 2px 2px var(--text-alt);
  margin: 15px 0;
  font-size: xx-large;
}

.new {
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  color: var(--alt);
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.new__info {
  /* Limit to 4 lines */
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.new__image > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.new > p {
  display: -webkit-box;
  color: inherit;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.new > a {
  color: inherit;
  text-align: end;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  align-self: flex-end;
}
.new > a:hover {
  color: var(--secondary);
}
.openlink {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-color: red;
  -webkit-mask: url(img/openlink.svg) no-repeat center;
  mask: url(img/openlink.svg) no-repeat center;
}
#searchbar {
  margin-left: 10px;
  height: 50px;
  border: 1px solid var(--secondary);
  padding: 5px;
  font-size: 1.2rem;
  color: var(--secondary);
}

@media screen and (max-width: 768px) {
  .news_container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .news_container {
    grid-template-columns: 1fr;
  }
}
